.logo {
	padding: 0 1rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

.list {
	display: flex;
	gap: 5rem;
	align-items: center;
	list-style: none;
	margin: 0;
}

.list li {
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.link:hover {
	color: var(--blue-light);
}

.link {
	text-decoration: none;
	color: #fff;
}

.selected {
	color: var(--blue-light);
}