.wrapper {
	position: relative;
}

.input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	background-color: transparent;
	color: #fff;
	padding-right: 2rem;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	color: #ccc;
}

.icon {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
}
